<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mvcThemesConfiguration" type="SBS.DynamicContent.SystemThemeProvider" requirePermission="false" allowDefinition="MachineToApplication" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="webchat" type="SBS.ESA.WebUI.MVC.Code.Configuration.WebchatSection,SBS.ESA.WebUI.MVC" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="INFO" />
      <file value="C:\Logs\SBS.ESA.WebUI.MVC.txt" />
      <maximumFileSize value="100MB" />
      <maxSizeRollBackups value="10" />
      <rollingStyle value="Composite" />
      <appendToFile value="true" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="SmtpAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <webchat>
    <topics>
      <topic key="MortgageSwitchTopic" topic="Mortgages" />
    </topics>
  </webchat>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SessionCookieEncryptionKey" value="Wd4GuM9tJmVaboF4p0Emj0nUXn3f3l6d9SBf4eWV5Cy6nzA2" />
    <add key="UrlForMinSupportedBrowserCall" value="https://uat.skipton.co.uk/supportedBrowserVersionsData/BrowserVersionDataLookup" />
    <add key="WebsiteNameForMinSupportedBrowserCall" value="CustomerPortal" />
    <add key="CertificatingAuthority" value="Skipton Building Society UAT Root CA" />
    <add key="MsmqDestinationQueue" value="DIRECT=OS:msmqskiulink\private$\telephonyqueueuat" />
    <!-- Features -->
    <add key="AccountOpeningOnly" value="false" />
    <!--PDM TEMP - OY! PUT THIS BACK TO false!!! -->
    <add key="AccountPurposes" value="true" />
    <!-- Endpoint Addresses -->
    <add key="AuthenticationServiceEndPoint" value="https://localhost/SBS.ServiceLayer.Services/AuthenticationService.svc" />
    <add key="BankWizServiceEndPoint" value="https://localhost/SBS.ServiceLayer.Services/BankWizService.svc" />
    <add key="CardPaymentServiceEndPoint" value="https://localhost/SBS.ServiceLayer.Services/CardPaymentService.svc" />
    <add key="CardPayServiceEndPoint" value="https://localhost/SBS.ServiceLayer.Services/CardPayService.svc" />
    <add key="CustomerServiceTibcoEndPoint" value="https://sbsbttibbw01.uat.internal:9104/SOAPServiceBinding/customerService/" />
    <!--<add key="CustomerPortalServiceTibcoEndPoint" value="https://api-test.skipton.co.uk/internal/SOAP/customerPortal/Endor"/>-->
    <!--<add key="CustomerPortalServiceTibcoEndPoint" value="https://sbsbttibbw01.uat.internal:9408/SOAPServiceBinding/customerPortal/"/>-->
    <add key="CustomerPortalServiceTibcoEndPoint" value="https://sbsbttibbw01.uat.internal:30030/SOAPServiceBinding/customerPortal/" />
    <!-- V2.3 -->
    <add key="CustomerServiceEndPoint" value="https://localhost/SBS.ServiceLayer.Services/CustomerService.svc" />
    <add key="InvestmentServiceEndPoint" value="https://localhost/SBS.ServiceLayer.Services/InvestmentService.svc" />
    <add key="NamesAddressServiceEndPoint" value="https://localhost/SBS.ServiceLayer.Services/NamesAddressService.svc" />
    <add key="StaticDataServiceEndPoint" value="https://localhost/SBS.ServiceLayer.Services/StaticDataService.svc" />
    <add key="GenericServiceEndPoint" value="https://localhost/SBS.ServiceLayer.Services/GenericService.svc" />
    <add key="IdmServiceEndPoint" value="https://localhost/SBS.ServiceLayer.Services/IdmService.svc" />
    <add key="MsmqEndPoint" value="https://localhost/SBS.ServiceLayer.Services/MessageQueueService.svc" />
    <add key="DocumentManagementTibcoEndPoint" value="https://api-test.skipton.co.uk/internal/SOAP/documentManagement/v1" />
    <!-- URL to legacy Customer Portal -->
    <add key="LegacyBaseUrl" value="~/" />
    <!-- URL to Customer Portal -->
    <add key="CookieUrl" value="cookies" />
    <!-- Other URLs -->
    <add key="FscsInfoSheetUrl" value="https://uat.skipton.co.uk/~/media/skipton-co-uk/pdf/customer-services/fscs-info-sheet.aspx" />
    <add key="FaqUrl" value="https://localhost/SBS.ESA.WebUI/OnlineHelp/FAQs.aspx" />
    <add key="BranchFinderUrl" value="https://www.skipton.co.uk/branchfinder" />
    <!-- JSON serialization (see SBS.Helpers.ScriptHelper class) -->
    <!-- If specified, must be a full assembly-qualified name -->
    <!-- If not specified, SBS.Helpers.CustomCamelCaseNameResolver is used by default -->
    <add key="JsonSerializerContractResolverType" value="Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver,Newtonsoft.Json" />
    <!-- Google Tag Manager -->
    <add key="GtmContainerId" value="GTM-5KTB59" />
    <add key="ShowSiteVersionBanner" value="true" />
    <add key="SecureMessageMailboxPageSize" value="10" />
    <add key="SecureMessageSendMessageBodyMaxCharacters" value="2500" />
    <add key="GoogleTagManagerHead" value="&lt;!-- Google Tag Manager --&gt;&lt;script type=&quot;text/plain&quot; class=&quot;optanon-category-C0002&quot;&gt;(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','**********');&lt;/script&gt;&lt;!-- End Google Tag Manager --&gt;" />
    <add key="GoogleTagManagerBody" value="&lt;!-- Google Tag Manager (noscript) --&gt;&lt;noscript&gt;&lt;iframe src=&quot;https://www.googletagmanager.com/ns.html?id=**********&quot; height=&quot;0&quot; width=&quot;0&quot; style=&quot;display:none;visibility:hidden&quot;&gt;&lt;/iframe&gt;&lt;/noscript&gt;&lt;!-- End Google Tag Manager (noscript) --&gt;" />
    <add key="OneTrustCookieConsentHead" value="&lt;!-- OneTrust Cookies Consent Notice start --&gt;&lt;script src=&quot;https://cdn-ukwest.onetrust.com/scripttemplates/otSDKStub.js&quot;  type=&quot;text/javascript&quot; charset=&quot;UTF-8&quot; data-domain-script=&quot;**********&quot;&gt;&lt;/script&gt;&lt;!-- OneTrust Cookies Consent Notice end --&gt;" />
    <add key="OneTrustCookieConsentId" value="07e02f37-01f6-4851-9b93-1780650c0cd7-test" />
    <add key="ShowSiteVersionBanner" value="true" />
    <add key="SecureMessageMailboxPageSize" value="10" />
    <add key="AllowSSF" value="true" />
    <add key="CurrencyCode" value="GBP" />
    <add key="WebChatWidgetId" value="" />
    <add key="WebChatWidgetHead" value="&lt;script src=&quot; https://uat-webchat.skipton.co.uk/WebchatWidget/web-messenger-launch-code.min.js?method=public&quot;&gt;&lt;/script&gt;" />
    <!-- SurePay Outbound Service credentials -->
	<add key="SurePayOutboundServiceEndPointUrl" value="https://apim-gateway01.webapi-dev.nonprod.internal/surepay/outbound/validate" />
	<add key="SurePayOutboundServiceClientId" value="7acd4424-a9f6-4e36-9994-96359d3ab314  " />
	<add key="SurePayOutboundServiceOAuthUrl" value="https://login.microsoftonline.com/14b83237-5195-4930-809a-6a0be062e4b0/oauth2/v2.0/token" />
	<add key="SurePayOutBoundServiceScope" value="https://webapi-dev.skiptontest.co.uk/apim/.default" />
	<add key="SurePayOutBoundServiceApiKey" value="placeHolderForTheAPIkey" />
	<add key="SurePayOutboundServiceClientSecret" value="placeholderForTheSecret" />
  <add key="AzureAuthProviderTenant" value="" />
  <add key="AzureAuthProviderClientId" value="" />
  <add key="AzureAuthProviderClientSecret" value="" />
  <add key="AzureAuthProviderEndPoint" value="" />
  <add key="SAPAPIKey" value="" />
  <add key="SAPAPIEndpoint" value="https://api03.integration-test.skipton.co.uk/simple-access-point" />
  </appSettings>
  <!--<system.serviceModel>
    <services>
      <service name="SBS.Tibco.Client.DocumentService.DocumentManagement.DocumentManagementServiceClient">
        <endpoint address="" binding="wsHttpBinding" contract="SBS.Tibco.Client.DocumentService.DocumentManagement.Interfaces.IDocumentManagementServiceClient" />
        <host>
          <baseAddresses>
            <add baseAddress="https://api-test.skipton.co.uk/internal/SOAP/customerPortal/v27/Endor" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XmlSerializer" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XDocument" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Timer" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Parallel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Overlapped" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.RegularExpressions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.SecureString" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Xml" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Json" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Numerics" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.ResourceManager" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ObjectModel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Sockets" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Requests" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.NetworkInformation" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Queryable" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Parallel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Expressions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="B77A5C561934E089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Globalization.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Globalization" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Dynamic.Runtime" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tools" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.StackTrace" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Debug" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Contracts" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.EventBasedAsync" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Concurrent" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.5.0" newVersion="5.8.5.0" />
      </dependentAssembly>
     <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.4" newVersion="9.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.10" newVersion="6.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" requestPathInvalidCharacters="&lt;,&gt;,*,%,:,\,?" maxRequestLength="2097151" enableVersionHeader="false" />
    <authentication mode="Forms">
      <forms loginUrl="~/mortgagematurities" defaultUrl="~/" protection="None" cookieless="UseCookies" path="/" name="PortalTicket" requireSSL="true" ticketCompatibilityMode="Framework40" enableCrossAppRedirects="false" timeout="20" />
    </authentication>
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <machineKey decryption="AES" decryptionKey="E1FA244ABD8839737884A0E3BA1DFFDDFCB806909932FD826189071E445713B1" validation="HMACSHA256" validationKey="237C0476A2319EB620F22CE22A14D1A13009C59A61BFD135EB5570502FDF5152" compatibilityMode="Framework20SP1" />
    <sessionState mode="InProc" timeout="20" sessionIDManagerType="SBS.ESA.WebUI.MVC.Code.Security.SecureSessionIDManager" cookieName="PortalID" />
    <customErrors mode="On" defaultRedirect="~/Error">
      <error statusCode="401" redirect="~/Error/401" />
      <error statusCode="403" redirect="~/Error/403" />
      <error statusCode="404" redirect="~/Error/404" />
      <error statusCode="500" redirect="~/Error/500" />
    </customErrors>
    <httpModules>
      <add name="httpModule" type="SBS.DynamicContent.HttpThemesModuleMVC" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="httpModule" type="SBS.DynamicContent.HttpThemesModuleMVC" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>
      <remove fileExtension=".eot" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <security>
      <requestFiltering allowHighBitCharacters="false">
        <verbs allowUnlisted="false">
          <remove verb="POST" />
          <remove verb="GET" />
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="DEBUG" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-control" value="public,max-age=600" />
        <add name="Pragma" value="public,max-age=600" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="same-origin" />
        <add name="Permissions-Policy" value="accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <outboundRules>
        <rule name="Fix IE missing font icons">
          <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="\.eot\?*" />
            <add input="{REQUEST_URI}" pattern="\.eot.*" />
          </conditions>
          <action type="Rewrite" value="private, max-age=600" />
        </rule>
      </outboundRules>
    </rewrite>
    <handlers>
      <add name="KeepSessionAlive" verb="GET,HEAD" path="~/Code/Handlers/KeepSessionAlive.ashx" />
    </handlers>
  </system.webServer>
  <mvcThemesConfiguration>
    <themes defaultRedirect="~/Error/503">
      <theme domain="localhost" themeId="SBS" serviceId="201" useAntiXSS="false" />
      <theme domain="skipton" themeId="SBS" serviceId="201" useAntiXSS="false" />
    </themes>
  </mvcThemesConfiguration>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.0 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>
